SECRET_KEY=COLOQUE_UMA_CHAVE_FORTE
DATABASE_URL=postgresql://USUARIO:SENHA@HOST/BANCO?sslmode=require
ADMIN_USERNAME=ADMIN
ADMIN_EMAIL=admin@silasmendes.local
ADMIN_PASSWORD=CRIE_UMA_SENHA_FORTE
ADMIN_NAME=Silas Mendes
WHATSAPP_NUMBER=5581998925005
